In [1]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

conn = sqlite3.connect("results.db")

In [17]:
results = pd.read_sql('SELECT * FROM tbl1', con = conn).drop_duplicates()
results

,index,method,ntest,tr,fr,nskip,nsample,nsample_tot,true_alt_tested,true_alt_total,nsample_rej
0,84,constant__spending,10,0,0,0,1.0,10,3,3,NaN
1,84,relative__spending,66,0,0,0,1.0,66,7,7,NaN
2,84,constant__investing,10,0,0,0,1.0,10,3,3,NaN
3,84,relative__investing,66,0,0,0,1.0,66,7,7,NaN
4,84,constant__rewardsk1,10,0,0,0,1.0,10,3,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...
189995,9976,lord1,1000,8,1,0,1.0,1000,101,101,1.0
189996,9976,lord2,1000,11,1,0,1.0,1000,101,101,1.0
189997,9976,lord3,1000,9,1,0,1.0,1000,101,101,1.0
189998,9976,lord++,1000,7,0,0,1.0,1000,101,101,1.0
189999,9976,saffron,1000,12,1,0,1.0,1000,101,101,1.0

In [2]:
results = pd.read_sql('SELECT * FROM tbl1', con = conn).drop_duplicates()
results_out = results.sort_values("method")
results_out = results.groupby(['method']).agg({'ntest': ['mean'], 
                                                        'tr': ['mean'],
                                                        'fr': ['mean'],
                                                        'nskip': ['mean'], 
                                                        'nsample': ['mean'], 
                                                        'nsample_tot' : ['mean'], 
                                                        'true_alt_tested': ['mean'], 
                                                        'true_alt_total': ['mean'], 
                                                        'nsample_rej':['mean']})
results_out.insert(3, 'mfdr', 
                   results_out[['fr']].to_numpy() / (results_out[['fr']].to_numpy()+results_out[['tr']].to_numpy() + 0.95))
power_num = results_out['tr'].to_numpy().astype(float)
power_denom = [np.max([results_out['true_alt_tested'].to_numpy()[i].astype(float), 
                       0.0001]) for i in range(results_out.shape[0])]
results_out['power'] = power_num / np.array(power_denom)
results_out

/home/tjcook/.conda/envs/gams38/lib/python3.9/site-packages/numpy/core/fromnumeric.py:86: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

,ntest,tr,fr,mfdr,nskip,nsample,nsample_tot,true_alt_tested,true_alt_total,nsample_rej,power
,mean,mean,mean,,mean,mean,mean,mean,mean,mean,
method,,,,,,,,,,,
constant__ero_investing,18.3255,0.5008,0.0734,0.048156,0.0,1.0,18.3255,1.8285,1.8285,1.0,0.273886
constant__investing,16.0110,0.4427,0.0648,0.044460,0.0,1.0,16.0110,1.5996,1.5996,1.0,0.276757
constant__rewardsk1,14.7010,0.4089,0.0612,0.043096,0.0,1.0,14.7010,1.4630,1.4630,1.0,0.279494
constant__rewardsk1.1,16.4204,0.4387,0.0618,0.042606,0.0,1.0,16.4204,1.6374,1.6374,1.0,0.267925
constant__spending,10.0000,0.2781,0.0410,0.032306,0.0,1.0,10.0000,1.0009,1.0009,1.0,0.277850
costaware_relative1,410.1643,4.2584,0.2184,0.040245,0.0,1.0,410.1643,41.1048,41.1048,1.0,0.103599
costaware_relative10,139.2999,13.1469,0.2380,0.016603,0.0,1.0,139.2999,13.9602,13.9602,1.0,0.941742
costaware_relative100,99.5598,9.2897,0.1186,0.011450,0.0,1.0,99.5598,9.9551,9.9551,1.0,0.933160
costaware_relativestar,97.1356,9.0647,0.1115,0.011011,0.0,1.0,97.1356,9.7198,9.7198,1.0,0.932601
lord++,934.9129,2.5913,0.0552,0.015348,0.0,1.0,934.9129,93.5374,93.5374,1.0,0.027703
lord1,1000.0000,1.4506,0.0334,0.013722,0.0,1.0,1000.0000,100.0336,100.0336,1.0,0.014501
lord2,1000.0000,2.0032,0.0610,0.020238,0.0,1.0,1000.0000,100.0336,100.0336,1.0,0.020025
lord3,1000.0000,2.7195,0.0747,0.019951,0.0,1.0,1000.0000,100.0336,100.0336,1.0,0.027186
relative__ero_investing,82.7317,0.9179,0.0976,0.049657,0.0,1.0,82.7317,8.2768,8.2768,1.0,0.110900
relative__investing,81.4691,0.8734,0.0847,0.044390,0.0,1.0,81.4691,8.1550,8.1550,1.0,0.107100
relative__rewardsk1,80.7099,0.8491,0.0783,0.041707,0.0,1.0,80.7099,8.0755,8.0755,1.0,0.105145
relative__rewardsk1.1,80.4146,0.8144,0.0725,0.039469,0.0,1.0,80.4146,8.0493,8.0493,1.0,0.101176
relative__spending,66.0000,0.5510,0.0404,0.026210,0.0,1.0,66.0000,6.5976,6.5976,1.0,0.083515
saffron,1000.0000,1.6448,0.0929,0.034565,0.0,1.0,1000.0000,100.0336,100.0336,1.0,0.016442